@media screen and (max-width: 800px) {
  .pagination {
    display:inline-block; margin:20px auto!important;margin-left:10%!important;
  }
}

.pagination {
  display:inline-block; margin:70px 0;margin-left:35%;
}
